<form action="/links" method="post" id="form1">
    <label for="site_name">
      Site Name:
    <input type="text" name="site_name">
  </label>
  <label for="site_url">
      Site URL:
  <input type="text" name="site_url">
</label>
</form>

<button type="submit" form="form1" value="Add link"> Add link </button>
