<form action="/links" method="post" id="form1">
    <label for="site_name">
      Site Name:
    <input type="text" name="site_name">
  </label>
  <label for="site_url">
      Site URL:
  <input type="text" name="site_url">
</label>
<label for="site_tag">
    Site tags:
<input type="text" name="site_tag">
</label>
</form>

<button type="submit" form="form1">Add link</button>
